img {
    opacity: 1.0;
    max-width: 100%;
  }
  
img:hover {
  opacity: 0.3;
  filter:blur(1px)
}


  
div {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

input {
  width:25%;
  height:50px;
  font-size: medium;
  margin: 10px;
}

.jtext {
  text-align:center;
}

.nominations {
    font-size: small;
}

th {
    border: 1px solid black;
    padding:5px;
    background-color: rgb(200, 200, 200);
  }

td {
  padding:5px;
  max-width: 20%;
  max-width: 150px;
}

body {
    background-color: rgb(100, 100, 100);
}
